.latest-comments{
    width:100%;
    background:#fff;
    border-radius:16px;
    padding:20px;
    box-shadow:0 8px 30px rgba(0,0,0,.06);
}

.comment-list{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.comment-item{
    background:#fff;
    border:1px solid #ececec;
    border-radius:12px;
    padding:18px;
    transition:.3s;
}

.comment-item:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(0,0,0,.06);
}

.top{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:8px;
}

.news-title{
    text-decoration:none;
    color:#222;
    font-size:16px;
    font-weight:700;
    line-height:28px;
}

.news-title:hover{
    color:#0d6efd;
}

.date{
    font-size:12px;
    color:#999;
    display:flex;
    align-items:center;
    gap:5px;
}

.comment-text{
    margin-top:14px;
    color:#555;
    line-height:32px;
    font-size:14px;

    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

.bottom{
    margin-top:16px;
    padding-top:14px;
    border-top:1px solid #f2f2f2;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.user{
    display:flex;
    align-items:center;
    gap:6px;
    color:#666;
    font-size:13px;
}

.read-more{
    display:flex;
    align-items:center;
    gap:6px;

    text-decoration:none;
    color:#0d6efd;
    font-size:13px;
    font-weight:600;
}

.read-more:hover{
    color:#084298;
    cursor: pointer;
}